<!doctype html>
<html lang="en">
  <head>
    <style>html,body,#root{height:100%}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-Bqd0wdyo.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32-COhD53IG.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16-D2eDLP8n.png" />
    <link rel="manifest" href="/assets/site-Dc6WxHW4.webmanifest" />
    <title>CDM</title>
    <script type="module" crossorigin src="/assets/index-BjfcDyOa.js"></script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
