.manage__wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.toaster {
  position: absolute;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}